<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    
        <title>ROGSM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" href="404.css" type="text/css">
        <script src="main.js" defer></script>
    </head>
    <body>
    <nav>
        <ul class="meniu">
            <li><a href="main.html"><i class="fa fa-cube"></i></a></li>
            <li><a href="noutati.html">noutati</a></li>
            <li><a>produse</a>
                <ul class="submeniu">
                    <li><a href="electrocasnice.html">reconditionate</a></li>
                    <li><a href="accesorii.html">accesorii</a></li>
                </ul>
            </li>
            <li><a href="reduceri.html">reduceri</a></li>
            <li class="contact"><a href="contact.html">contact</a></li>
        </ul>

    </nav>
    </body>
    <footer>
        <p></p> 
     </footer>
</html>
